<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="warning">
          <ion-buttons slot="start">
            <ion-icon (click)="goBack()" slot="start" name="arrow-back-outline" style="color:#fff;"></ion-icon>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-title style="color:#fff;">{{daftar_produk}}</ion-title>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

      <div style="margin:10px">
          <ion-button shape="round" size="small" fill="outline" expand="block" (click)="create()" color="warning">
                  <ion-icon name="create" slot="start" style="padding-right:10px"></ion-icon>
                  {{judul}}
          </ion-button>
      </div>
      <div class="profile-image" *ngIf="!isShow" >
        <ion-icon style="font-size: 5.2em;" name="document" color="warning"></ion-icon>
        <p color="modena">Data tidak ditemukan</p>
      </div>
      <ion-card *ngFor="let itm of arrList; let j=index" (click)="itemSelected(itm)">
        <ion-card-header>
          <ion-card-title style="font-size:1rem;font-weight: 700;">{{ itm.product }}</ion-card-title>
          <ion-card-subtitle>{{ template_nomor_seri }} : {{ itm.serialnumber }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content >
          <p style="color: darkgoldenrod;">{{ template_pembelian_dari }} : <br> {{ itm.purchaseat.split("|").length>1 ? itm.purchaseat.split("|")[1] : itm.purchaseat }}</p>
          <p style="color: darkgoldenrod;">{{ itm.tanggal }} 
            <span *ngIf="itm.status_verifikasi==1" style="font-size: 12px;color: green;font-style: italic">- {{status_verifikasi}}</span>
            <span *ngIf="itm.status_verifikasi==2" style="font-size: 12px;color: #d00808;font-style: italic">- Diproses</span>
          </p>
          <div *ngIf="values_produk_note[j] !=''" class="noted">{{ values_produk_note[j] }}</div>
        </ion-card-content>
      </ion-card>
      <!-- <div *ngFor="let itm of arrList; let j=index" >
        <button *ngIf="isShow" ion-item (click)="itemSelected(itm)" style="border-bottom: none;background-color: #f5f5f5;margin-bottom: 10px;">
          <h2 style="font-weight: 500">{{ itm.product }} </h2>
          <h3>{{ template_nomor_seri }} : {{ itm.serialnumber }}</h3>
          <p style="color: darkgoldenrod;">{{ template_pembelian_dari }} : {{ itm.purchaseat.split("|").length>1 ? itm.purchaseat.split("|")[1] : itm.purchaseat }}</p>
          <p style="color: darkgoldenrod;">{{ itm.tanggal }} 
            <span *ngIf="itm.status_verifikasi==1" style="font-size: 12px;color: green;font-style: italic">- {{status_verifikasi}}</span>
          </p>
          
          <ion-button clear slot="end" icon-start color="modena">
              <ion-icon name="arrow-dropright" style="font-size: 32px;padding-right: 0;"></ion-icon>
          </ion-button>
          <div *ngIf="values_produk_note[j] !=''" class="noted">{{ values_produk_note[j] }}</div>
        </button>
      </div> -->

  </ion-content>
</div>

