.alert-sub-title {
    font-size: 14px !important;
    color:#fff;
}
.alert-md .alert-wrapper {
    background-color: #e69918;
}
.alert-md .alert-button .button-inner {
    color: #fff;
}
.alert-md .alert-title {
    font-size: 18px;
    color: #4e4034;
    font-weight: 700;
}
.footer {
    position: absolute;
    bottom: 0;
    display: block;
    z-index: 20;
    width: 100%;
    background: white;
}
.toolbar-md-light .toolbar-background-md {
    background: #fff;
}

.title-class{
    font-size: 18px;
    color: #161616 !important;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-align: left;
}

.banner-title{
    text-align: center;
    font-size: 18px;
    display: block;
    width: 100%;
    font-weight: 500;
}
.banner-title-2{
    text-align: left;
    font-size: 12px;
    display: block;
    width: 100%;
    font-weight: 500;
    padding-left: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.follow-title{
    text-align: center;
    font-size: 12px;
    display: block;
    width: 100%;
    padding-top: 14px;
    font-weight: 300;
}

.copyright{
    text-align: center;
    font-size: 8px;
    font-weight: 200;
}

hr{
    border: 1px solid gray;
    width: 86%;
    height: 0;
    margin: 0 auto;
    display: table;
    text-align: center;
}
.hr-title{
    width: 87%;
}

.module {
    margin: 0 0 1em 0;
    overflow: hidden;
}
.module p {
    margin: 0;
    font-size: 9px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}
.line-clamp-address {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.thumbnail{
    width: 80px;
    height: 70px;
    border-radius: 50%
}

.card-md {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}

.text-input-md {
    background-color: #f1f2f2;
    border-radius: 10px;
    margin-bottom: 0 !important;
    margin-top: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0;
}

.datetime-md .datetime-placeholder {
    background-color: #f1f2f2;
    border-radius: 10px;
    margin-top: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0;
    min-height: 2.9rem;
}

.list-md .item-block .item-inner {
    border-bottom: 0px solid #dedede;
}

.list-md .item-input:last-child {
    border-bottom: 0px solid #dedede;
}
.profile-image{
    img{
        height: auto;
        width: 100%;
        border: 4px solid rgba(255,255,255,0.4);
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    }
}
.profile-image {
    text-align: center;
    margin-top: 15%;
    // margin: 15% auto;
}

.nomor{
    background-color: orange;
    padding: 5px 10px;
    color: black !important;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 0;
}

.text-barcode > .text-input-md {
    border-radius: 0;
}
.btn-more{
    height: 24px;
    font-size: 11px;
    color:black;
    margin: 0 15px;
    width: 91%;
    border-radius: 10px;
}
.btn-more-submit{
    // height: 24px;
    // font-size: 11px;
    color:black;
    margin: 0 15px;
    width: 91%;
    border-radius: 10px;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #fff;
    box-shadow: inset 0 0px 0 0 #fff;
}


.scroll-content{
    align-content: center;
    justify-content: center;
    text-align: center;
}
// ion-toolbar {
//     --background: #fff url('../../../assets/images/Rectangle336.png') no-repeat center center / cover;
//     --min-height: 350px;
//     color: #fff;
// }


// .kembali {
//     position: absolute;
//     top: 0px;
//     left: 10px;
// }
.p-header {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 600;
}
.p-sub-header {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
    padding: 0px 80px;
}
.h1-header {
    text-align: center;
    margin-top: 0;
    font-size: 32px;
    font-weight: 600;
}
.col-tabs {
    font-size: 14px;
    text-align: center;
    color: #C4C5C4;
}
.col-tabs-active {
    font-size: 14px;
    text-align: center;
    color: #000;
    font-weight: 600;
}
.col-p {
    font-size: 16px;
}