<div class="row">
  <ion-grid style="margin-top: 10px">
    <ion-row>
      <ion-col style="text-align: center;">
        <img (click)="open_insta()" src="./assets/images/instagram-icon.png" alt="Logo" width="30px" height="30px"  style="margin-right: 5px;margin-left:10px;" >
      </ion-col>
      <ion-col style="text-align: center;">
        <img (click)="open_youtube()" src="./assets/images/youtube-icon.png" alt="Logo" width="30px" height="30px"  style="margin-right: 5px;margin-left:10px;" >
      </ion-col>
      <ion-col style="text-align: center;">
        <img (click)="open_twiter()" src="./assets/images/twitter.png" alt="Logo" width="30px" height="30px"  style="margin-right: 5px;margin-left:5px;" >
      </ion-col>
      <ion-col style="text-align: center;">
        <img (click)="open_fb()" src="./assets/images/facebook-icon.png" alt="Logo" width="30px" height="30px"  style="margin-right: 5px" >
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<p class="copyright">COPYRIGHT 2019 MODENA INDONESIA | VERSION  {{api.versi}}</p>