<ion-header>
  <ion-toolbar color="warning">
    <ion-title>{{label_lupa_password}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h6 class="ion-padding" style="padding-bottom: 0">{{label_lupa_password}}?</h6>
  <p class="ion-padding" style="padding-top: 0;padding-bottom: 0">{{label_mohon_masukkan_email}}</p>
  <ion-item>
    <ion-label color="dark-yellow">
      <ion-icon name="mail" style="color:#414042"></ion-icon>
    </ion-label>
    <ion-input type="text" style="font-size: 12px" required [(ngModel)]="email" name="email" placeholder="Email Address"></ion-input>
  </ion-item>
  <ion-button expand="full" shape="round" color="warning" (click)="resetpass()" style="margin-top: 20px">Dapatkan Password</ion-button>
</ion-content>