<ion-content>
  <div class="background" style="background-color: #fff"></div>
  <div class="cape"></div>
  <div class="content-login">
    <figure>
      <img src="./assets/images/login-logo.png" alt="Logo" >
    </figure>

    <div class="socials-buttons" style="margin-bottom: 20px">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button icon-left expand="block" shape="round" size="small" color="warning" >
              <small style="font-size: 9px">{{label_have_account}}</small>
            </ion-button>
          </ion-col>
          <!-- <ion-col size="2">
            <span class="separator-text">|</span>
          </ion-col> -->
          <ion-col size="6">
            <ion-button icon-left expand="block" shape="round" size="small" color="warning" (click)="register()">
              <small style="font-size: 9px;">{{label_register_new}}</small>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </div>

    <form #form="ngForm" class="login-form" novalidate>
      <ion-item>
        <ion-label color="dark-yellow">
          <ion-icon name="mail" style="color:#414042"></ion-icon>
        </ion-label>
        <ion-input type="text" style="font-size: 12px" required [(ngModel)]="input.email" name="email" placeholder="{{label_email}}"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label color="dark-yellow">
            <ion-icon name="key" style="color:#414042"></ion-icon>
        </ion-label>
        <ion-input type="password" style="font-size: 12px" placeholder="Password" required [(ngModel)]="input.password" name="password"></ion-input>
      </ion-item>
      <ion-button expand="full" shape="round" color="dark" (click)="loginapp()" style="margin-top: 40px">{{judul}}</ion-button>
    </form>
    <p style="margin-bottom: 20px" (click)="lupa_password()">{{label_lupa_password}}? <b>{{label_click_here}}</b></p>
    <!-- <div style="margin: 20px 0;">
      <div class="line" ></div>
      <div style="display:inline-block;font-size: 8px;font-weight: 500;">{{masuk_dengan}}</div>
      <div class="line" ></div>
    </div>
    
    <div class="socials-buttons">
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="4">
            <ion-button expand="block" (click)="facebook()" fill="clear">
              <img src="./assets/images/facebook-icon.png" alt="Logo" width="25px" height="25px" style="margin-right: 5px" >
              <small style="color: #414042">Facebook</small>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button expand="block" (click)="google()" fill="clear">
              <img src="./assets/images/google-icon.png" alt="Logo" width="25px" height="25px"  style="margin-right: 5px" >
              <small style="color: #414042">Google</small>
            </ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>
      
      
      
    </div> -->

    <div class="footer" full>
      Copyright 2019 Modena Indonesia | Version {{api.versi}}
    </div>
  </div> 
</ion-content>

