<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <!-- <p padding style="padding-top: 0;padding-bottom: 0">PIN sudah berhasil dikirimkan ke alamat email Anda.<br />Silahkan akses inbox email Anda.</p> -->
  <div class="profile-image">
    <img src="../../assets/images/password.png" />
  </div>
  <h6 class="ion-padding" style="padding-bottom: 0">Masukkan Password Baru</h6>
  <ion-item>
    <ion-label position="stacked">Password baru*</ion-label>
    <ion-input type="password" [(ngModel)]="pass1" name="pass1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ketik ulang password Anda*</ion-label>
    <ion-input type="password" [(ngModel)]="pass2" name="pass2"></ion-input>
  </ion-item>
  <ion-button expand="full" shape="round" color="warning" (click)="submit()"  style="margin-top: 20px">Submit</ion-button>
</ion-content>