<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="light">
          <ion-buttons slot="start">
            <!-- <ion-back-button defaultHref="/list-garansi"></ion-back-button> -->
            <ion-icon (click)="goBack()" slot="start" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-buttons slot="end">
              <img src="../../assets/images/logo-home.png" width="121" style="padding-top: 10px"/>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="row">
      <img full src="../../assets/images/register-banner.jpg" style="height: 100%;width: 100%;" />
      <h1 center class="banner-title">{{judul}}</h1>
      <hr>
    </div>
    <div class="wrapper">	
      <div class="profile">	
          <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <h2 style="font-size: 14px;margin-bottom: 0;">WELCOME,</h2>
                  <p style="font-weight: 500;font-size: 11px;margin-top: 0;">{{ profile.name }}</p>
                </ion-col>
                <ion-col size="8">
                    <p style="margin:0;font-size: 12px;" class="line-clamp-address">{{ profile.address }}</p>
                    <p class="line-clamp" style="margin:0;font-size: 12px;">Mobile : {{ profile.handphone }}</p>
                    <p class="line-clamp-2" style="margin:0;font-size: 12px;">Email : {{ profile.email }}</p>
                    <ion-button item-end icon-start color="warning" (click)="goprofile()" style="height: 16px;font-size: 9px;color:black">
                      Update Profile
                    </ion-button>
                </ion-col>
              </ion-row>
          </ion-grid>
      </div>
    </div>
    
    <h1 center class="banner-title-2" >{{label_data_pembelian}}</h1>
    <hr class="hr-title">
    <ion-list>
      <ion-item class="tbeli">
        <ion-label position="stacked">{{label_tempat_pembelian}} <span style="color:red; font-weight:900">** </span></ion-label>
        <ion-input type="hidden" [(ngModel)]="tempat_beli" ></ion-input>
        <ion-input type="text" [(ngModel)]="tempat_beli_tampil" readonly></ion-input>
      </ion-item>
      <ion-button item-end block color="warning" (click)="bukaPencarian()" class="btn-more" style="margin-bottom: 10px;margin-top: 10px;">
        Pilih Dealer
      </ion-button>
      <ion-item hidden>
        <ionic-selectable
          #selectComponent
          item-content
          [(ngModel)]="id_dealer"
          [items] = "arr_dealer"
          itemValueField="idcust"
          itemTextField= "long_name"
          [canSearch] = "true"
          (onChange) = "dealer_changes($event)"
          placeholder="Pilih Dealer"
          searchPlaceholder="Ketik Nama Dealer"
          (onSearch)="searchPorts($event)"
          [hasInfiniteScroll]="true"
          (onInfiniteScroll)="getMorePorts($event)"
        >
          <ng-template ionicSelectableHeaderTemplate>
            <ion-header>
              <ion-toolbar color="warning">
                    <ion-buttons slot="end" (click)="selectComponent.close()">
                      Batal
                    </ion-buttons>
                    <ion-title>
                      {{label_tempat_pembelian}}
                    </ion-title>
              </ion-toolbar>
            </ion-header>
          </ng-template>
          <ng-template ionicSelectableSearchFailTemplate>
            <div class="ion-padding ion-text-center">
              Data tidak ditemukan? 
              <button color="secondary" clear item-right (click)="tutupPencarian()">
                Klik disini.
              </button>
            </div>
          </ng-template>
        </ionic-selectable>
        
      </ion-item>
      <!-- <ion-item id="open-modal">
        <ion-label>MMMM YY</ion-label>
        <ion-note slot="end" id="datetimeValue"></ion-note>
        <ion-modal trigger="open-modal">
          <ion-content>
            <ion-datetime
              id="datetime"
              presentation="date"
              min="1989-06-04"
              max="2004-08-23"
              value="1994-12-15T13:47:20.789"
            ></ion-datetime>
          </ion-content>
        </ion-modal>
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">{{label_tanggal_pembelian}}<span style="color:red; font-weight:900">** </span></ion-label>
        <ion-input
          value="{{ tgl_beli  }}"
          id="tglbeli"
          class="ion-text-center"
        ></ion-input>
        <ion-modal [keepContentsMounted]="true" trigger="tglbeli"  >
          <ng-template>
            <ion-datetime presentation="date" 
              [(ngModel)]="tgl_beli" 
              [min]="min_date" 
              [max]="max_date" 
              displayFormat="YYYY-MM-DD" 
              (ionChange)="onChangeTanggal($event)"
              >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="stacked">{{label_tanggal_pembelian}}<span style="color:red; font-weight:900">** </span></ion-label>
        <ion-datetime-button datetime="tglbeli"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date" id="tglbeli" 
              [(ngModel)]="tgl_beli" 
              [min]="min_date" 
              [max]="max_date" 
              displayFormat="YYYY-MM-DD" 
              (ionChange)="onChangeTanggal($event)"
              >
            </ion-datetime>
          </ng-template>
        </ion-modal>
        
      </ion-item> -->
      <p style="text-align: justify;font-size: 12px;padding-top: 0;padding-bottom: 0;margin-bottom: 0;margin-top: 0">
        <span style="color:red; font-weight:900">** </span>{{label_tanggal_pembelian_catatan}}</p>
      <ion-item>
        <ion-label position="stacked" expand="full" style="color: #999">{{label_foto_faktur}}<span style="color:red; font-weight:900">** </span></ion-label>
      </ion-item>
      <div class="profile-image" >
          <ion-row>
            <ion-col size="12" style="padding-top: 0">
                <img [src]="base64Image" (click)="takePhotoKTP(3,'base64Image')">
            </ion-col>
          </ion-row>
      </div>
      <p style="text-align: justify;font-size: 12px;padding-top: 0;padding-bottom: 0;margin-bottom: 0;margin-top: 0">
        <span style="color:red; font-weight:900">** </span><span [innerHTML]="api.toHTML(label_faktur_harus_difoto)"></span>
      </p>

      <ion-item>
        <ion-label position="stacked" style="color: #999">{{label_ktp}}<span style="color:red; font-weight:900">** </span></ion-label>
      </ion-item>
      <div class="profile-image" >
        <ion-row>
          <ion-col size="12" style="padding-top: 0">
              <img [src]="base64Image_ktp" (click)="takePhotoKTP(1,'base64Image_ktp')" >
          </ion-col>
        </ion-row>
      </div>
      
    </ion-list>

    <h1 center class="banner-title-2" >{{judul}}</h1>
    <hr class="hr-title">
    <ion-list>
      <form [formGroup]="myForm">
        <div formArrayName="projects">
          <div *ngFor="let project of myForm.get('projects').controls; let j=index">
              <div>
                <ion-label position="stacked">{{label_no_seri_produk}}</ion-label>
                <ion-item [formGroupName]="j">
                  <ion-label class="nomor">{{j+1}}</ion-label>
                  <ion-input type="text" [disabled]="mode == 'revisi'" class="text-barcode" [(ngModel)]="values[j]" (change)="valChange($any($event.target).value, j)" formControlName="projectName"></ion-input>
                  <ion-button *ngIf="mode != 'revisi'" color="dark" item-right style="margin: 0;font-size: 9px;height: 29px;" (click)="scanBarcode(j)">
                    Scan QR Code
                  </ion-button>
                  <ion-button *ngIf="mode != 'revisi'" color="dark" item-right (click)="deleteProject(j)" style="margin: 0;margin-left: 5px;font-size: 9px;height: 29px;">
                      <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item>
							  <div style="font-weight:900; padding:7px 2px 0px 15px;font-size: 12px" [ngStyle]="{'color': valids[j] == '1' ? 'black' : 'red'}">{{ labels[j] }}</div>
              </div>
          </div>
          <ion-button item-end block color="warning" (click)="addNewProject()" class="btn-more" *ngIf="mode != 'revisi'">
            {{input_b_tambah_produk_registrasi}}
          </ion-button>
          
        </div>
      </form>
    </ion-list>
    <h1 center class="banner-title-2" >{{ label_data_klaim_cashback }}</h1>
    <hr class="hr-title">
    <ion-list style="padding-bottom: 0;margin-bottom: 0">
      <p style="text-align: justify;font-size: 12px;padding-top: 0;padding-bottom: 0;margin-bottom: 0;">{{ label_klaim_cashback_pelanggan_terhormat }}</p>
      <ion-button item-end block color="warning" (click)="pilih()" class="btn-more" style="margin-bottom: 10px;">
        {{ label_b_sellout_produk }}
      </ion-button>
      <p style="text-align: justify;font-size: 12px;padding-top: 0;padding-bottom: 0;margin-bottom: 0;margin-top: 0">{{ label_klaim_cashback_silahkan_lengkapi }}</p>
      <ion-item>
        <ion-select [(ngModel)]="mk" interface="action-sheet" (ionChange)="onChangeMetode(mk)" placeholder="Pilih Metode Berikut">
          <div *ngFor="let mkl of metodeKlaim; let j=index">
              <ion-select-option value="{{ mkl['index'] }}">{{ mkl['nama'] }}</ion-select-option>	
          </div>
        </ion-select>
      </ion-item>
      <div class="metode-klaim" [ngStyle]="{'display': konten_metode_klaim != '' ? '' : 'none'}" [innerHTML]="konten_metode_klaim"></div>
      
      <div *ngIf="jml_verifikasi>3 || base64Image_pernyataan !='./assets/images/img-not-found.jpg' "  [innerHTML]="kontenUploadKlaim"></div>
      <div *ngIf="jml_verifikasi>3 || base64Image_pernyataan !='./assets/images/img-not-found.jpg' " >
        <ion-button item-end block color="warning" (click)="isi_surat()" class="btn-more">
          Isi Surat Pernyataan
        </ion-button>
      </div>
      <div class="profile-image" *ngIf="jml_verifikasi>3 || base64Image_pernyataan !='./assets/images/img-not-found.jpg' ">
        <ion-row class="row" *ngIf="jml_verifikasi>3 || base64Image_pernyataan !='./assets/images/img-not-found.jpg' ">
          <ion-col  *ngIf="base64Image_pernyataan !='./assets/images/img-not-found.jpg'" class="col" size="12" style="padding-top: 10px;text-align: center;padding-bottom: 0;">
            <!-- <div style="margin-top: 10px;">
              <img src="./assets/images/pdf.png" style="width: 25%;" >
              <p style="margin-top: 0;">{{ pdf_name }}</p>
            </div> -->
            <img [src]="base64Image_pernyataan" >
          </ion-col>

        </ion-row>
      </div>
      <div style="font-size: 12px;padding-bottom: 0" [innerHTML]='sanitizer.bypassSecurityTrustHtml(label_konten_syarat_dan_ketentuan)'></div>
      <ion-item>
          <ion-label style="font-size: 11px;">Saya setuju dengan syarat dan ketentuan di atas.</ion-label>
          <ion-checkbox [(ngModel)]="chk_setuju" (click)="setuju(chk_setuju)" color="dark" checked="false"></ion-checkbox>
        </ion-item>
      <ion-col padding style="padding-top: 0;padding-bottom: 0">
          <ion-button [disabled]="disabled"  item-end block color="warning" (click)="sent()" class="btn-more-submit">
              {{ input_b_kirim_registrasi }}
          </ion-button>
      </ion-col>
    </ion-list>
  </ion-content>
</div>