<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Verifikasi Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h6 class="ion-padding" style="padding-bottom: 0">Masukkan PIN</h6>
  <p class="ion-padding" style="padding-top: 0;padding-bottom: 0">PIN sudah berhasil dikirimkan ke alamat email Anda.<br />Silahkan akses inbox email Anda.</p>
  <ion-item>
    <ion-label color="dark-yellow">
      <ion-icon name="key" style="color:#414042"></ion-icon>
    </ion-label>
    <ion-input type="number" style="font-size: 12px" required [(ngModel)]="pin" name="pin" maxlength="6" placeholder="6 digit"></ion-input>
  </ion-item>
  <ion-button expand="full" shape="round" color="warning" (click)="resetpass()" style="margin-top: 20px">Verifikasi</ion-button>
</ion-content>